In [1]:
import pandas as pd

In [2]:
# pd.DataFrame([[1, 2, 3, 4, 5], [1, 2, 3, 4, 5]], columns=("valor", "otro"))

In [3]:
dicccionario = {
    "Valor": [1,2,3,4], 
    "Otro":[4,5,6,None]
}

In [4]:
type(dicccionario)

dict

In [5]:
df=pd.DataFrame(dicccionario)

In [6]:
df

   Valor  Otro
0      1   4.0
1      2   5.0
2      3   6.0
3      4   NaN

In [8]:
df["Valor"]

0    1
1    2
2    3
3    4
Name: Valor, dtype: int64

In [10]:
df[["Valor","Otro"]]

   Valor  Otro
0      1   4.0
1      2   5.0
2      3   6.0
3      4   NaN

In [11]:
type(df[["Valor", "Otro"]])

pandas.core.frame.DataFrame

In [ ]:
df_india = pd.read_csv() #En los parentesis va el path del archivo

In [ ]:
df_india.tail(10) #Muestra las Ãºltimas <n> filas

In [ ]:
df_india.drop(columns="id", inplace=True) #Elimina la columna de ID

In [ ]:
df_india.tail()

In [ ]:
df_india_2 = df_india[["season", "city", "winner"]]

In [3]:
pd.read_clipboard()

Empty DataFrame
Columns: [valor]
Index: []